<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chamelles</title>
    <link rel="shortcut icon" href="/assets/favicon/octocat.png" type="png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <!-- CE CODE FAIT PARTIE DE LA FORMATION ULTIME SUR BOOTSTRAP
      CETTE FORMATION EST DISPONIBLE SUR BELIEVEMY.COM -->

    <header class="bg-dark text-light p-4 sticky-top">
        Chamelles &amp; Co
        <a class="m-3" href="../index.html">Retour à l'accueil</a>
    </header>

    <section>
        <h1 class="m-3 text-center">Bienvenue</h1>
        <div class="bg-danger text-white w-75 p-3 mx-auto shadow rounded">
            Ce site est en construction.
        </div>
        <img class="w-50 my-5 d-block mx-auto shadow rounded"
            src="https://static.wixstatic.com/media/e649e6_70b603238fda46f6be31ee3796577b66~mv2.jpg" />

        <h2 class="m-3 text-center">Vidéo</h2>
        <div class="embed-responsive embed-responsive-16by9 w-50 mx-auto rounded">
            <iframe class="embed-responsive-item" width="560" height="315"
                src="https://www.youtube.com/embed/Yomrh4KKQEc" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
        </div>

    </section>
    <footer class="bg-light text-muted mt-5 p-3 text-right font-weight-light border-top -border-light">
        2020 &copy; Chamelles &amp; Co
    </footer>

</body>

</html>