<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chamelles</title>
    <link rel="shortcut icon" href="/assets/favicon/octocat.png" type="png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>


    <header>
        Chamelles & Co
        <a href="../index.html">Retour à l'accueil</a>
    </header>

    <section>
        <h1>Bienvenue</h1>
        Ce site est en construction.

        <img src="https://static.wixstatic.com/media/e649e6_70b603238fda46f6be31ee3796577b66~mv2.jpg" />

        <h2>Vidéo</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Yomrh4KKQEc" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>
    <footer>
        <span>2020 &copy; Chamelles & Co</span>
    </footer>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>